[loggers]
keys=root,batch,communicator,commander,requestprocessor, router, auth, events

[handlers]
keys=console,root_file,root_syslog,batch_file,communicator_file,commander_file,requestprocessor_file, router_file, auth_file, events_file

[formatters]
keys=base

[logger_root]
level=DEBUG
handlers=root_file,console

[logger_batch]
level=DEBUG
handlers=batch_file
qualname=batch

[logger_communicator]
level=DEBUG
handlers=communicator_file
qualname=communicator

[logger_requestprocessor]
level=DEBUG
handlers=requestprocessor_file
qualname=request_processor

[logger_commander]
level=DEBUG
handlers=commander_file
qualname=commander

[logger_router]
level=DEBUG
handlers=router_file
qualname=router

[logger_auth]
level=DEBUG
handlers=auth_file
qualname=authentication

[logger_events]
level=DEBUG
handlers=events_file
qualname=events

[handler_console]
class=StreamHandler
formatter=base
args=(sys.stdout,)

[handler_root_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}root.log','D' , 1, 7)

[handler_root_syslog]
class=handlers.SysLogHandler
formatter=base
args=(('localhost', handlers.SYSLOG_UDP_PORT), handlers.SysLogHandler.LOG_USER)

[handler_batch_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}batch.log','D', 1, 7)

[handler_communicator_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}communicator.log','D' , 1, 7)

[handler_commander_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}commander.log','D' , 1, 7)

[handler_requestprocessor_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}requestprocessor.log','D' , 1, 7)

[handler_router_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}router.log','D' , 1, 7)

[handler_auth_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}auth.log','D' , 1, 7)

[handler_events_file]
class=handlers.TimedRotatingFileHandler
formatter=base
args=('{logging_path}events.log','D' , 1, 7)

[formatter_base]
format=[%(levelname)s]-[%(process)d]-[%(asctime)s]-[%(name)s]: %(message)s
